<a href="#"class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="left-group-item-heading">{{recipe.name}}</h4>
    <p class="left-group-item-text">{{recipe.description}}</p>
  </div>
  <span class="pull-right">
    <img [src]="recipe.imgPath" alt="" class="img-responsive" style="max-height: 40px;">
  </span>
</a>