<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <!-- [recipe] this property is coming from @Input -->
    <app-recipe-item  *ngFor="let recipeIteration of recipes" [recipe]="recipeIteration"></app-recipe-item>
  </div>
</div>