<app-header (optionSelected)="onNavigation($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipe *ngIf="optionLoaded === 'Recipes'"></app-recipe>
      <app-shopping-list *ngIf="optionLoaded !== 'Recipes'"></app-shopping-list>
    </div>
  </div>
</div>